@import "../../styles/mixin.scss";

.home {
  @include boxSizing;

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    z-index: 9999;

    .home-search {
      display: flex;
      align-items: center;
      width: 90%;
      height: 100%;
      border-radius: 4px;
      line-height: 40px;
      background-color: white;

      .search-icon {
        padding: 8px;
      }

      .search-title {
        flex: 1;
        padding-left: 40px;
        font-size: 16px;
        color: #dbdbdb;
      }
    }

  }

  .van-swipe {
    img {
      width: 100%;
      height: 250px;
    }
  }

  // 标签区样式
  .home-tags {
    margin-top: 30px;
    margin-bottom: 10px;

    .tag-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      .tag-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        height: 60px;

        .svg-icon {
          width: 50px;
          height: 50px;
        }

        .tag-name {
          margin-top: 6px;
        }
      }
    }
  }

  // 秒杀区域
  .spike-area {
    margin: 12px;
    padding: 10px;
    background-color: white;

    // 上部区域
    .spike-top {
      display: flex;
      justify-content: space-between;

      // 链猫秒杀
      .top-left {
        .item-top {
          display: flex;
          align-items: center;

          .top-title {
            font-size: 14px;
            font-weight: bolder;
          }

          .count-down {
            display: flex;
            width: 120px;
            height: 25px;
            margin-left: 2px;
            border: 1px solid #dbdbdb;

            .count-title {
              width: 50px;
              line-height: 25px;
              text-align: center;
              font-size: 10px;
              background-color: #d8182d;
              color: white;
            }

            .van-count-down {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 1;
              font-size: 6px;
              color: #d8182d;
            }
          }
        }

        .item-info {
          display: flex;

          .item-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60px;

            .price {
              font-size: 14px;
              color: #d8182d;
            }

            .old-price {
              font-size: 12px;
              color: #949497;
              text-decoration: line-through;
            }
          }
        }

      }

      // 发现好货
      .top-right {
        margin-left: 5px;

        .item-top {
          display: flex;
          align-items: center;

          .top-title {
            font-size: 14px;
            font-weight: bolder;
          }

          .good-tag {
            width: 70px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin-left: 5px;
            color: #d8182d;
            border: 1px solid #d8182d;
          }
        }
      }
    }
  }
}